<div class="login-background">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-xs-12">
                <form class="pharm-form" (ngSubmit)="onSubmit( FormMedication )" name="FormMedication" [formGroup]='FormMedication'>

                    <div class="cont-back">
                        <a class="pill-back-button mb-4" routerLink="/inventory">
                            <span class="back">&lt;</span> &nbsp;Regresar
                        </a>
                    </div>

                    <span class="pharm-form-title" *ngIf="userAction == 'viewMedication'">
                        {{medication.medicationName}}
                    </span>

                    <span class="pharm-form-title" *ngIf="userAction == 'newMedication'">
                        Registrar medicamento
                    </span>

                    <span class="pharm-form-title" *ngIf="userAction == 'modifyMedication'">
                        Modificar medicamento
                    </span>

                    <img src="../../../../assets/images/vaccine.png" alt="">

                    <!-- Campo Nombre-->
                    <div class="mb-4">
                        <label class="pill-label-reminder">Nombre:</label>

                        <input matInput type="text" class="form-control form-reminder-input" formControlName="medicationName" placeholder="Escribe aquí el nombre" [ngClass]="{'is-invalid':    (FormMedication.controls.medicationName.touched || submitted)  
                        && FormMedication.controls.medicationName.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormMedication.controls.medicationName.touched || submitted) 
                        && FormMedication.controls.medicationName.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormMedication.controls.medicationName.touched || submitted) 
                        && FormMedication.controls.medicationName.errors?.maxlength">
                            Máximo 55 caracteres.
                        </div>

                    </div>

                    <!-- Campo Descripción-->
                    <div class="mb-4">
                        <label class="pill-label-reminder">Dscripción:</label>

                        <input matInput type="text" class="form-control form-reminder-input" formControlName="description" placeholder="Escribe aquí la descripción" [ngClass]="{'is-invalid':    (FormMedication.controls.description.touched || submitted)  
                        && FormMedication.controls.description.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormMedication.controls.description.touched || submitted) 
                        && FormMedication.controls.description.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormMedication.controls.description.touched || submitted) 
                        && FormMedication.controls.description.errors?.maxlength">
                            Máximo 100 caracteres.
                        </div>

                    </div>

                    <!-- Campo unidad -->
                    <div class="mb-3">
                        <label class="pill-label-reminder" for="unit">Unidad:</label>

                        <mat-select class="form-control" name="unit" formControlName="unit" placeholder="Seleccione una opción" [ngClass]="{'is-invalid':    (FormMedication.controls.unit.touched || submitted)  
                        && FormMedication.controls.unit.errors}">
                            <mat-option class="poppins-regular" *ngFor="let unit of units" [value]="unit.description">
                                {{unit.description}}
                            </mat-option>
                        </mat-select>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormMedication.controls.unit.touched || submitted) 
                        && FormMedication.controls.unit.errors?.required">
                            Este campo es obligatorio.
                        </div>
                    </div>

                    <!--campo Composición-->
                    <div class="mb-5">
                        <label class="pill-label-reminder">Composición, en mg (opcional):</label>

                        <input class="form-control form-reminder-input" formControlName="grammage" name="grammage" [placeholder]="userAction == 'viewMedication' ? '':'Ingrese aquí el gramaje'" [ngClass]="{'is-invalid': (FormMedication.controls.grammage.touched || submitted)  
                        && FormMedication.controls.grammage.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormMedication.controls.grammage.touched || submitted) 
                        && FormMedication.controls.grammage.errors?.pattern">
                            Dato numérico.
                            <br> Máximo 5 caracteres.
                        </div>

                    </div>

                    <button type="submit" class="pill-form-btn" *ngIf="userAction == 'newMedication'">Registrar medicamento</button>

                    <button type="submit" class="pill-form-btn" *ngIf="userAction == 'modifyMedication'">Modificar medicamento</button>

                </form>
            </div>
        </div>
    </div>
</div>