<div class="limiter login-background">

    <!-- Esto se muestra cuando el usuario no tiene recordatorios registrados -->
    <div class="container-home" *ngIf="userReminders.length == 0 && reminderAction == 'reminderList'">
        <div class="box-reminder-title">
            <span class="home-title ">
                ¡Aún no tienes medicamentos!            
            </span>

            <button class="home-reminder-button" (click)="addReminder()">
                <img class="btn-reminder-image" src="../../../assets/images/signo-mas.png" alt="">
                Nuevo medicamento
            </button>

            <a class="pill-back-button-reminder m-t-100" routerLink="/home">
                <br><br><span class="back">&lt; </span> &nbsp;Regresar al inicio
            </a>
        </div>
    </div>

    <!-- Cuando el usuario tiene recordatorios registrados se muestran estos recordatorios -->
    <div class="container-reminder" *ngIf="userReminders.length != 0 && reminderAction == 'reminderList'">

        <span class="reminder-title p-b-15">
            Mis medicamentos
        </span>

        <button class="new-reminder-btn m-b-30" (click)="addReminder()">
            Nuevo medicamento
        </button>



        <div class="reminder-box" *ngFor="let reminder of userReminders">

            <div class="more-reminder">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>
                        more_horiz
                    </mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" class="box-reminder-menu" xPosition="before">
                <button mat-menu-item (click)="checkReminder(reminder)">
                    <mat-icon >visibility</mat-icon>
                    <span class="poppins-regular">Ver recordatorio</span>
                </button>
                <button mat-menu-item (click)="modifyReminder(reminder)">
                    <mat-icon >edit</mat-icon>
                    <span class="poppins-regular">Modificar recordatorio</span>
                  </button>
                <button mat-menu-item (click)="deleteReminder(reminder['id'])">
                  <mat-icon >delete</mat-icon>
                  <span class="poppins-regular">Eliminar recordatorio</span>
                </button>
            </mat-menu>

            <!-- Según el tipo de unidad se muestra la imagen correspondiente -->
            <img class="reminder-image" src="../../../assets/images/pills.png" alt="" *ngIf="reminder.unit == 'comprimido(s)'">
            <img class="reminder-image" src="../../../assets/images/medicine.png" alt="" *ngIf="reminder.unit == 'cápsula(s)'">
            <img class="reminder-image" src="../../../assets/images/syringe.png" alt="" *ngIf="reminder.unit == 'inyección(es)'">
            <img class="reminder-image" src="../../../assets/images/cuentagotas.png" alt="" *ngIf="reminder.unit == 'gota(s)'">
            <img class="reminder-image" src="../../../assets/images/balanza-de-cocina.png" alt="" *ngIf="reminder.unit == 'miligramo(s)'">
            <img class="reminder-image" src="../../../assets/images/balanza-de-cocina.png" alt="" *ngIf="reminder.unit == 'gramo(s)'">
            <img class="reminder-image" src="../../../assets/images/vaso-medidor.png" alt="" *ngIf="reminder.unit == 'mililitro(s)'">
            <img class="reminder-image" src="../../../assets/images/drugs.png" alt="" *ngIf="reminder.unit == 'unidad(es)'">

            <!-- Se muestran los datos del recordatorio -->
            <p class="box-reminder-medication-name">{{reminder.medicationName}}</p>
            <span class="box-reminder-medication"> 
                <img class="unit-image" src="../../../assets/images/meds.png" alt="">
                Dosis: {{reminder.dose}}</span>
            <span class="box-reminder-medication">{{reminder.unit}}</span>
            <p class="box-reminder-medication">
                <img class="unit-image" src="../../../assets/images/reloj.png" alt=""> Frecuencia: {{reminder.frequency}}
            </p>
            <p class="box-reminder-medication">
                <img class="unit-image" src="../../../assets/images/calendar.png" alt=""> Fecha de inicio: {{reminder.startDate}}
            </p>
            <p class="box-reminder-medication">
                <img class="unit-image" src="../../../assets/images/calendar.png" alt=""> Fecha de finalización: {{reminder.endDate}} <span *ngIf="!reminder.endDate">--/--/--</span>
            </p>

        </div>

    </div>

    <!-- El formulario se muestra cuando el usuario quiere agregar un nuevo medicamento  newReminder -->
    <div class="container container-home" *ngIf="reminderAction != 'reminderList'">

        <div class="form-reminder-container animated fadeInRight m-t-15">

            <!-- Regresar link -->
            <a class="pill-back-button" (click)="volver()">
                <span class="back">&lt;</span> &nbsp;Regresar
            </a>

            <span class="form-reminder-title p-b-17 p-t-10" *ngIf="reminderAction == 'newReminder'">
                Nuevo medicamento
            </span>

            <span class="form-reminder-title p-b-15 p-t-10" *ngIf="reminderAction != 'newReminder'">
                {{medName}}
            </span>

            <!-- Según el tipo de unidad se muestra la imagen correspondiente -->
            <img class="reminder-image mb-4" src="../../../assets/images/pills.png" alt="" *ngIf="unit == 'comprimido(s)'">
            <img class="reminder-image mb-4" src="../../../assets/images/medicine.png" alt="" *ngIf="unit == 'cápsula(s)'">
            <img class="reminder-image mb-4" src="../../../assets/images/syringe.png" alt="" *ngIf="unit == 'inyección(es)'">
            <img class="reminder-image mb-4" src="../../../assets/images/cuentagotas.png" alt="" *ngIf="unit == 'gota(s)'">
            <img class="reminder-image mb-4" src="../../../assets/images/balanza-de-cocina.png" alt="" *ngIf="unit == 'miligramo(s)'">
            <img class="reminder-image mb-4" src="../../../assets/images/balanza-de-cocina.png" alt="" *ngIf="unit == 'gramo(s)'">
            <img class="reminder-image mb-4" src="../../../assets/images/vaso-medidor.png" alt="" *ngIf="unit == 'mililitro(s)'">
            <img class="reminder-image mb-4" src="../../../assets/images/drugs.png" alt="" *ngIf="unit == 'unidad(es)'">

            <img class="reminder-image mb-4" src="../../../assets/images/vaccine.png" alt="" *ngIf="reminderAction == 'newReminder'">


            <form (ngSubmit)="onSubmit( FormReminder )" name="FormReminder" [formGroup]='FormReminder'>

                <div class="row">
                    <div class="col div-border-rigth m-2">

                        <span class="reminder-label">
                            Descripción
                        </span>

                        <!-- Campo Nombre -->
                        <div class="mb-4" *ngIf="reminderAction != 'checkReminder'">
                            <label class="pill-label-reminder" for="medicationName">Nombre:</label>

                            <input type="text" class="form-control form-reminder-input" formControlName="medicationName" placeholder="Escribe aquí el nombre" [ngClass]="{'is-invalid':    (FormReminder.controls.medicationName.touched || submitted)  
                            && FormReminder.controls.medicationName.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.medicationName.touched || submitted) 
                            && FormReminder.controls.medicationName.errors?.required">
                                Este campo es obligatorio.
                            </div>

                        </div>

                        <!--campo Dosis-->
                        <div class="mb-4">
                            <label class="pill-label-reminder">Dosis:</label>

                            <input class="form-control form-reminder-input" formControlName="dose" name="dose" placeholder="Cantidad de unidades" [ngClass]="{'is-invalid': (FormReminder.controls.dose.touched || submitted)  
                            && FormReminder.controls.dose.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.dose.touched || submitted) 
                            && FormReminder.controls.dose.errors?.required">
                                Este campo es obligatorio.
                            </div>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.dose.touched || submitted) 
                            && FormReminder.controls.dose.errors?.pattern">
                                Dato numérico.
                                <br> Máximo 7 caracteres.
                            </div>

                        </div>

                        <!-- Campo unidad -->
                        <div class="mb-1">
                            <label class="pill-label-reminder" for="unit">Unidad:</label>

                            <mat-select class="form-control" name="unit" formControlName="unit" placeholder="Selecciona la unidad" [ngClass]="{'is-invalid':    (FormReminder.controls.unit.touched || submitted)  
                            && FormReminder.controls.unit.errors}">
                                <mat-option class="poppins-regular" *ngFor="let unit of units" [value]="unit.description">
                                    {{unit.description}}
                                </mat-option>
                            </mat-select>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.unit.touched || submitted) 
                            && FormReminder.controls.unit.errors?.required">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="col m-2">

                        <span class="reminder-label">
                            Duración
                        </span>

                        <!-- Campo Fecha inicio -->
                        <div class="mb-4">

                            <label class="pill-label-reminder">Fecha de inicio:</label>

                            <input matInput [matDatepicker]="picker" class="form-control inputDate" style="display:inline;" formControlName="startDate" name="startDate" placeholder="DD/MM/AAAA" [ngClass]="{'is-invalid': (FormReminder.controls.startDate.touched || submitted)  
                            && FormReminder.controls.startDate.errors}" />
                            <mat-datepicker-toggle class="m-l-10" matSuffix [for]="picker" style="color:#6626db;"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.startDate.touched || submitted) 
                            && FormReminder.controls.startDate.errors?.required">
                                Este campo es obligatorio. <br>Dato fecha, formato dd/mm/aaaa.
                            </div>

                        </div>

                        <!-- Campo Fecha Fin -->
                        <div class="mb-1">

                            <label class="pill-label-reminder">Fecha de finalización:</label>

                            <input matInput [matDatepicker]="pickerEnd" class="form-control inputDate" style="display:inline;" formControlName="endDate" name="endDate" placeholder="(Opcional)" [ngClass]="{'is-invalid': (FormReminder.controls.endDate.touched || submitted)  
                            && FormReminder.controls.endDate.errors}" />
                            <mat-datepicker-toggle class="m-l-10" matSuffix [for]="pickerEnd" style="color:#6626db;"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerEnd></mat-datepicker>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.endDate.touched || submitted) 
                            && FormReminder.controls.endDate.errors">
                                Dato fecha, formato dd/mm/aaaa.
                            </div>

                        </div>
                    </div>
                    <div class="col div-border-left m-2">

                        <span class="reminder-label">
                            Recordatorios
                        </span>

                        <!-- Campo Frecuencia -->
                        <div class="mb-4">
                            <label class="pill-label-reminder" for="unit">Frecuencia:</label>

                            <mat-select class="form-control poppins-regular" name="frequency" formControlName="frequency" placeholder="Seleccione la frecuencia" [ngClass]="{'is-invalid':    (FormReminder.controls.frequency.touched || submitted)  
                            && FormReminder.controls.frequency.errors}">
                                <mat-option class="poppins-regular" *ngFor="let frequency of frequencies" [value]="frequency.description">
                                    {{frequency.description}}
                                </mat-option>
                            </mat-select>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.frequency.touched || submitted) 
                            && FormReminder.controls.frequency.errors?.required">
                                Este campo es obligatorio.
                            </div>
                        </div>


                        <!-- Campo Hora de notificación -->
                        <div class="mb-1">
                            <label class="pill-label-reminder" for="unit">Hora:</label>

                            <input class="form-control form-reminder-input" formControlName="timeNotification" mask="Hh:m0" name="timeNotification" placeholder="HH:mm" [ngClass]="{'is-invalid':    (FormReminder.controls.timeNotification.touched || submitted)  
                            && FormReminder.controls.timeNotification.errors}">

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.timeNotification.touched || submitted) 
                            && FormReminder.controls.timeNotification.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.timeNotification.touched || submitted) 
                            && FormReminder.controls.timeNotification.errors?.pattern">
                                Dato hora, formato HH:mm
                            </div>
                        </div>

                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn pill-reminder-btn pill-buton m-t-20" *ngIf="reminderAction == 'newReminder'">Crear recordatorio</button>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn pill-reminder-btn pill-buton m-t-20" *ngIf="reminderAction == 'modifyReminder'">Modificar recordatorio</button>
                </div>

            </form>

        </div>
    </div>



</div>