<div class="limiter login-background">

    <div class="container-home" *ngIf="userReminders.length == 0 && reminderAction == 'reminderList'">
        <div class="box-reminder-title">
            <span class="home-title ">
                ¡Aún no tienes recordatorios!            
            </span>

            <button class="home-reminder-button" (click)="addReminder()">
                <img class="btn-reminder-image" src="../../../assets/images/signo-mas.png" alt="">
                Nuevo recordatorio
            </button>

            <a class="pill-back-button-reminder m-t-100" routerLink="/home">
                <br><br><span class="back">&lt; </span> &nbsp;Regresar al inicio
            </a>
        </div>
    </div>

    <div class="container-reminder" *ngIf="userReminders.length != 0 && reminderAction == 'reminderList'">

        <span class="reminder-title p-b-15">
            Tus recordatorios
        </span>

        <button class="new-reminder-btn m-b-30" (click)="addReminder()">
            Nuevo recordatorio
        </button>



        <div class="reminder-box" *ngFor="let reminder of userReminders">

            <img class="reminder-image" src="../../../assets/images/pills.png" alt="" *ngIf="reminder.unit == 'comprimido(s)'">
            <img class="reminder-image" src="../../../assets/images/medicine.png" alt="" *ngIf="reminder.unit == 'cápsula(s)'">
            <img class="reminder-image" src="../../../assets/images/syringe.png" alt="" *ngIf="reminder.unit == 'inyección(es)'">
            <img class="reminder-image" src="../../../assets/images/cuentagotas.png" alt="" *ngIf="reminder.unit == 'gota(s)'">
            <img class="reminder-image" src="../../../assets/images/balanza-de-cocina.png" alt="" *ngIf="reminder.unit == 'miligramo(s)'">
            <img class="reminder-image" src="../../../assets/images/balanza-de-cocina.png" alt="" *ngIf="reminder.unit == 'gramo(s)'">
            <img class="reminder-image" src="../../../assets/images/vaso-medidor.png" alt="" *ngIf="reminder.unit == 'mililitro(s)'">
            <img class="reminder-image" src="../../../assets/images/drugs.png" alt="" *ngIf="reminder.unit == 'unidad(es)'">


            <p class="box-reminder-medication-name">{{reminder.medicationName}}</p>
            <span class="box-reminder-medication"> 
                <img class="unit-image" src="../../../assets/images/meds.png" alt="">
                Dosis: {{reminder.dose}}</span>
            <span class="box-reminder-medication">{{reminder.unit}}</span>
            <p class="box-reminder-medication">
                <img class="unit-image" src="../../../assets/images/reloj.png" alt=""> Frecuencia: {{reminder.frequency}}
            </p>
            <p class="box-reminder-medication">
                <img class="unit-image" src="../../../assets/images/calendar.png" alt=""> Fecha de inicio: {{reminder.startDate}}
            </p>
            <p class="box-reminder-medication" *ngIf="reminder.endDate">
                <img class="unit-image" src="../../../assets/images/calendar.png" alt=""> Fecha de finalización: {{reminder.endDate}}
            </p>

        </div>

    </div>

    <div class="container-home" *ngIf="reminderAction == 'newReminder'">
        <div class="login-container animated fadeInRight m-t-15">

            <!-- Regresar link -->
            <a class="pill-back-button" (click)="volver()">
                <span class="back">&lt;</span> &nbsp;Regresar
            </a>

            <span class="login100-form-title p-b-30 p-t-10">
            Nuevo recordatorio
        </span>

            <form (ngSubmit)="onSubmit( FormReminder )" name="FormReminder" [formGroup]='FormReminder'>

                <!-- Campo Nombre -->
                <div class="mb-4">
                    <label class="pill-label-form" for="medicationName">Nombre del medicamento:</label>

                    <input type="text" class="form-control input100" formControlName="medicationName" placeholder="Escribe aquí el nombre del medicamento" [ngClass]="{'is-invalid':    (FormReminder.controls.medicationName.touched || submitted)  
                && FormReminder.controls.medicationName.errors}" />

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.medicationName.touched || submitted) 
                && FormReminder.controls.medicationName.errors?.required">
                        Este campo es obligatorio.
                    </div>

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.medicationName.touched || submitted) 
                && (FormReminder.controls.medicationName.errors?.minlength || FormReminder.controls.medicationName.errors?.maxlength) ">
                        Mínimo 4 caracteres.
                    </div>
                </div>

                <!--campo fechaInicio-->
                <div class="mb-4">
                    <label class="pill-label-form">Fecha de inicio:</label>

                    <input class="form-control input100" formControlName="startDate" name="startDate" placeholder="Cuando empezaste con el tratamiento" [ngClass]="{'is-invalid': (FormReminder.controls.startDate.touched || submitted)  
                && FormReminder.controls.startDate.errors}" />

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.startDate.touched || submitted) 
                && FormReminder.controls.startDate.errors?.required">
                        Este campo es obligatorio.
                    </div>

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.startDate.touched || submitted) 
                && FormReminder.controls.startDate.errors?.pattern">
                        Dato fecha, formato dd-mm-aaaa.
                    </div>

                </div>

                <!--campo fechaFin-->
                <div class="mb-4">
                    <label class="pill-label-form">Fecha de finalización:</label>

                    <input class="form-control input100" formControlName="endDate" name="endDate" placeholder="Finalización del tratamiento (opcional)" [ngClass]="{'is-invalid': (FormReminder.controls.endDate.touched || submitted)  
                && FormReminder.controls.endDate.errors}" />

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.endDate.touched || submitted) 
                && FormReminder.controls.endDate.errors?.pattern">
                        Dato fecha, formato dd-mm-aaaa.
                    </div>

                </div>

                <!--campo Dosis-->
                <div class="mb-4">
                    <label class="pill-label-form">Dosis:</label>

                    <input class="form-control input100" formControlName="dose" name="dose" placeholder="Cantidad de unidades del medicamento" [ngClass]="{'is-invalid': (FormReminder.controls.dose.touched || submitted)  
                && FormReminder.controls.dose.errors}" />

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.dose.touched || submitted) 
                && FormReminder.controls.dose.errors?.required">
                        Este campo es obligatorio.
                    </div>

                    <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormReminder.controls.dose.touched || submitted) 
                && FormReminder.controls.dose.errors?.pattern">
                        Dato numérico.
                        <br> Máximo 7 caracteres.
                    </div>

                </div>

                <!-- Campo unidad -->
                <div class="mb-4">
                    <label class="pill-label-form" for="unit">Unidad:</label>

                    <select class="form-control input100" name="unit" formControlName="unit">
                        <option *ngFor="let unit of units">
                            {{ unit.description }}
                        </option>            
                    </select>
                </div>

                <!-- Campo Frecuencia -->
                <div class="mb-4">
                    <label class="pill-label-form" for="unit">Frecuencia:</label>

                    <select class="form-control input100" name="frequency" formControlName="frequency">
                        <option *ngFor="let frequency of frequencies">
                            {{ frequency.description }}
                        </option>            
                    </select>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn pill-form-btn pill-buton">Crear recordatorio</button>
                </div>

            </form>

        </div>
    </div>



</div>