.pill-back-button-reminder {
    margin-top: 140px;
    font-family: Poppins-Regular;
    color: gray;
    font-size: 100%;
    text-decoration: none;
}

.pill-back-button-reminder:hover {
    font-family: Poppins-Regular;
    color: #6626db;
    font-size: 102%;
    transition: 200ms;
    cursor: pointer;
}

.container-login100-form-btn {
    margin-top: 20px;
}