.login100-form-title {
    margin: 3% 0;
}

.register-container {
    width: 600px;
    padding: 30px;
}

.divider {
    border-top: 2px solid #bbb;
    border-radius: 2px;
    width: 100%;
}

.info {
    transform: scale(0.85);
    position: relative;
    bottom: 2px;
    color: rgb(100, 99, 99);
}

::ng-deep .mat-tooltip {
    font-family: Poppins-Regular;
    font-size: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 12px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .carousel-item .pill-form-btn {
        display: block;
        margin: auto;
        width: 80%;
    }
    .register-container {
        width: auto;
        padding: 10%;
    }
    .divider {
        width: 100%;
    }
}