<div class="limiter login-background">
    <div class="container-login100  animated fadeInUp ">
        <form (ngSubmit)="onSubmit( FormRegister )" name="FormRegister" [formGroup]='FormRegister'>

            <div class="container-carousel animated fadeInUp login-container" *ngIf="registerAction == 'roleSelect'">

                <span class="login100-form-title">
                    Escoge tu rol
                </span>

                <!-- Carrusel para la selección del rol -->
                <div id="carousel" class="carousel carousel-dark slide" data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">

                        <div class="carousel-item active role-image" data-bs-interval="false">
                            <img class="img-role" src="../../../assets/images/telefono-inteligente.png" (click)="selectRolePatient()">
                            <h4 class="mt-3">Paciente</h4>
                            <p class="carousel-paragraph mt-2">Gestioná tus medicamentos</p>
                        </div>

                        <div class="carousel-item role-image" data-bs-interval="false">
                            <img class="img-role" src="../../../assets/images/user.png" (click)="selectRoleTutor()">
                            <h4 class="mt-3">Tutor</h4>
                            <p class="carousel-paragraph mt-2">Tengo una persona a cargo</p>
                        </div>

                        <div class="carousel-item role-image" data-bs-interval="false">
                            <img class="img-role" src="../../../assets/images/farmaceutico.png" (click)="selectRolePharmaceutic()">
                            <h4 class="mt-3">Farmacéutico</h4>
                            <p class="carousel-paragraph mt-2">Trabajo en una farmacia registrada</p>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                    </button>

                </div>

                <!-- Enlace Login -->
                <div class="mb-3 mt-10"></div>
                <a routerLink="/login" class="pill-label-check">
                    ¿Ya tienes cuenta? / Ingresar
                </a>
            </div>


            <!-- Formulario del ingreso de datos -->
            <div class="container register-container animated fadeInRight" *ngIf="registerAction == 'inputData'">


                <!-- Regresar link -->
                <a class="pill-back-button mb-4" (click)="volver()">
                    <span class="back">&lt;</span> &nbsp;Regresar
                </a>

                <span class="login100-form-title p-b-15 p-t-10">
                    Ingresa tus datos
                </span>

                <div class="m-t-10 m-b-30">
                    <img class="register-role" src="../../../assets/images/farmaceutico.png" alt="" *ngIf="user.role == 'farmaceutico'">
                    <img class="register-role" src="../../../assets/images/user.png" alt="" *ngIf="user.role == 'tutor'">
                    <img class="register-role" src="../../../assets/images/telefono-inteligente.png" alt="" *ngIf="user.role == 'paciente'">
                </div>

                <div class="row">
                    <div class="col">

                        <!-- Campo Nombre -->
                        <div class="mb-4">
                            <label class="pill-label-reminder" for="Name">Nombre:</label>

                            <input type="text" class="form-control input100" formControlName="Name" placeholder="Escribe aquí tu nombre" [ngClass]="{'is-invalid':    (FormRegister.controls.Name.touched || submitted)  
                            && FormRegister.controls.Name.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Name.touched || submitted) 
                            && FormRegister.controls.Name.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Name.touched || submitted) 
                            && (FormRegister.controls.Name.errors?.maxlength) ">
                                Máximo 4 caracteres.
                            </div>
                        </div>

                        <!-- Campo email -->
                        <div class="mb-4">
                            <label for="Email" class="pill-label-reminder">Email:</label>

                            <input type="email" class="form-control input100" formControlName="Email" placeholder="nombre@ejemplo.com" [ngClass]="{'is-invalid': (FormRegister.controls.Email.touched || submitted)  
                            && FormRegister.controls.Email.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Email.touched || submitted) 
                            && FormRegister.controls.Email.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Email.touched || submitted) 
                            && (FormRegister.controls.Email.errors?.email) ">
                                Email inválido.
                            </div>
                        </div>

                        <!-- Campo DNI -->
                        <div class="mb-4">
                            <label class="pill-label-reminder">Número de documento:</label>

                            <input class="form-control input100" formControlName="Document" name="Document" placeholder="12345678" [ngClass]="{'is-invalid': (FormRegister.controls.Document.touched || submitted)  
                            && FormRegister.controls.Document.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Document.touched || submitted) 
                            && FormRegister.controls.Document.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Document.touched || submitted) 
                            && FormRegister.controls.Document.errors?.pattern">
                                Número de documento inválido.
                            </div>
                        </div>

                        <!-- Campo contraseña -->
                        <div class="mb-4">

                            <label for="Password" class="pill-label-reminder">Contraseña:</label>

                            <input type="password" class="form-control input100" formControlName="Password" placeholder="Escribe aquí tu contraseña" [ngClass]="{'is-invalid': (FormRegister.controls.Password.touched  || submitted)  
                            && FormRegister.controls.Password.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Password.touched  || submitted) 
                            && FormRegister.controls.Password.errors?.required">
                                Este campo es obligatorio.
                            </div>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Password.touched || submitted) 
                            && (FormRegister.controls.Password.errors?.minlength)">
                                Mínimo 8 caracteres.
                            </div>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Password.touched || submitted) 
                            && (FormRegister.controls.Password.hasError('hasNumber'))">
                                Debe contener al menos un número.
                            </div>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Password.touched || submitted) 
                            && (FormRegister.controls.Password.hasError('hasSmallCase'))">
                                Debe contener al menos una letra.
                            </div>
                        </div>

                    </div>

                    <div class="col">

                        <!-- Campo Apellido -->
                        <div class="mb-4">
                            <label class="pill-label-reminder" for="LastName">Apellido:</label>

                            <input type="text" class="form-control input100" formControlName="LastName" placeholder="Escribe aquí tu apellido" [ngClass]="{'is-invalid':    (FormRegister.controls.LastName.touched || submitted)  
                            && FormRegister.controls.Name.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.LastName.touched || submitted) 
                            && FormRegister.controls.LastName.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.LastName.touched || submitted) 
                            && (FormRegister.controls.LastName.errors?.maxlength) ">
                                Máximo 55 caracteres.
                            </div>
                        </div>

                        <!-- Campo Teléfono de contacto -->
                        <div class="mb-4">
                            <label class="pill-label-reminder">Teléfono de contacto:</label>

                            <input class="form-control input100" formControlName="Phone" mask="(000) 000-0000" name="phone" placeholder="(351) 123-4567" [ngClass]="{'is-invalid': (FormRegister.controls.Phone.touched || submitted)  
                            && FormRegister.controls.Phone.errors}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Phone.touched || submitted) 
                            && FormRegister.controls.Phone.errors?.required">
                                Este campo es obligatorio.
                            </div>
                        </div>

                        <!-- Campo Genero -->
                        <div class="mb-4">
                            <label class="pill-label-reminder" for="gender">Género:</label>

                            <mat-select class="form-control" name="Gender" formControlName="Gender" placeholder="Seleccione una opción" [ngClass]="{'is-invalid':    (FormRegister.controls.Gender.touched || submitted)  
                            && FormRegister.controls.Gender.errors}">
                                <mat-option class="poppins-regular" *ngFor="let gender of genders" [value]="gender.descripcion">
                                    {{gender.descripcion}}
                                </mat-option>
                            </mat-select>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.Gender.touched || submitted) 
                            && FormRegister.controls.Gender.errors?.required">
                                Este campo es obligatorio.
                            </div>
                        </div>

                        <!-- Campo Confirmar contraseña -->
                        <div class="mb-4">

                            <label for="ConfirmPassword" class="pill-label-reminder">Confirmar contraseña:</label>

                            <input type="password" class="form-control input100" formControlName="ConfirmPassword" placeholder="Vuelve a escribir tu contraseña" [ngClass]="{'is-invalid': (FormRegister.controls.ConfirmPassword.touched  || submitted)  
                                    && (FormRegister.controls.ConfirmPassword.errors)}" />

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.ConfirmPassword.touched  || submitted) 
                                    && FormRegister.controls.ConfirmPassword.errors?.required">
                                Este campo es obligatorio.
                            </div>

                            <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormRegister.controls.ConfirmPassword.touched || submitted) 
                                    && (FormRegister.controls['ConfirmPassword'].hasError('NoPassswordMatch'))">
                                Las contraseñas no coinciden.
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Recordar mi cuenta: Check -->
                <div class="mt-2 mb-4 form-check">
                    <input type="checkbox" class="form-check-input" formControlName="RememberAccount" id="exampleCheck1">
                    <label class="pill-label-check" for="exampleCheck1">Recordar mi cuenta</label>
                </div>

                <!-- Crear cuenta Button -->
                <div class="mb-3"></div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="pill-form-btn">Crear cuenta</button>
                </div>
            </div>

        </form>
    </div>
</div>