<div class="container-fluid cont-pharmacy">
    <div class="row">
        <div class="col-lg-6 cont-pharm-reg">
            <img class="logo-pharm-register" src="../../../assets/images/svg_logoColor.svg" alt="">
            <h1 class="reg-pharm-title">¡Registrá tu farmacia!</h1>
            <p class="p-pharm">
                Registrate en simples pasos y brinda a tus clientes una nueva forma de gestionar sus medicamentos.
            </p>
        </div>
        <div class="col-lg-6 cont-pharm-form">
            <div class="pharm-form">

                <form (ngSubmit)="onSubmit( FormPharmacy )" name="FormPharmacy" [formGroup]='FormPharmacy'>

                    <span class="pharm-form-title">
                        Registro de tu farmacia
                    </span>

                    <!-- Campo Nombre del local-->
                    <div class="mb-4">
                        <label class="pill-label-reminder">Nombre del local:</label>

                        <input matInput type="text" class="form-control form-reminder-input" formControlName="pharmacyName" placeholder="Escribe aquí el nombre" [ngClass]="{'is-invalid':    (FormPharmacy.controls.pharmacyName.touched || submitted)  
                        && FormPharmacy.controls.pharmacyName.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.pharmacyName.touched || submitted) 
                        && FormPharmacy.controls.pharmacyName.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.pharmacyName.touched || submitted) 
                        && FormPharmacy.controls.pharmacyName.errors?.maxlength">
                            Máximo 55 caracteres.
                        </div>

                    </div>

                    <!-- Campo Cantidad de sucursales -->

                    <div class="mb-4">
                        <label class="pill-label-reminder">Cantidad de sucursales:</label>

                        <input class="form-control form-reminder-input" formControlName="branchesNumber" mask="9999" name="branchOffices" placeholder="Escribe aquí la cantidad" [ngClass]="{'is-invalid': (FormPharmacy.controls.branchesNumber.touched || submitted)  
                        && FormPharmacy.controls.branchesNumber.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.branchesNumber.touched || submitted) 
                        && FormPharmacy.controls.branchesNumber.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.branchesNumber.touched || submitted) 
                        && FormPharmacy.controls.branchesNumber.errors?.maxlength">
                            Máximo 4 caracteres.
                        </div>

                    </div>

                    <!-- Campo Nombre -->
                    <!-- <div class="mb-4">
                        <label class="pill-label-reminder">Nombre:</label>

                        <input matInput type="text" class="form-control form-reminder-input" formControlName="ownerName" placeholder="Escribe aquí tu nombre" [ngClass]="{'is-invalid':    (FormPharmacy.controls.ownerName.touched || submitted)  
                        && FormPharmacy.controls.ownerName.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.ownerName.touched || submitted) 
                        && FormPharmacy.controls.ownerName.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.ownerName.touched || submitted) 
                        && FormPharmacy.controls.ownerName.errors?.maxlength">
                            Máximo 55 caracteres.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.ownerName.touched || submitted) 
                        && FormPharmacy.controls.ownerName.errors?.pattern">
                            Ingresa un texto válido.
                        </div>
                    </div> -->

                    <!-- Campo Apellido -->
                    <!-- <div class="mb-4">
                        <label class="pill-label-reminder">Apellido:</label>

                        <input matInput type="text" class="form-control form-reminder-input" formControlName="ownerLastName" placeholder="Escribe aquí tu nombre" [ngClass]="{'is-invalid':    (FormPharmacy.controls.ownerLastName.touched || submitted)  
                        && FormPharmacy.controls.ownerLastName.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.ownerLastName.touched || submitted) 
                        && FormPharmacy.controls.ownerLastName.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.ownerLastName.touched || submitted) 
                        && FormPharmacy.controls.ownerLastName.errors?.maxlength">
                            Máximo 55 caracteres.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.ownerLastName.touched || submitted) 
                        && FormPharmacy.controls.ownerLastName.errors?.pattern">
                            Ingresa un texto válido.
                        </div>
                    </div> -->

                    <!-- Campo Teléfono de contacto -->
                    <div class="mb-4">
                        <label class="pill-label-reminder">Teléfono de contacto:</label>

                        <input class="form-control form-reminder-input" formControlName="phoneNumber" name="phone" placeholder="3511234567" [ngClass]="{'is-invalid': (FormPharmacy.controls.phoneNumber.touched || submitted)  
                        && FormPharmacy.controls.phoneNumber.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.phoneNumber.touched || submitted) 
                        && FormPharmacy.controls.phoneNumber.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.phoneNumber.touched || submitted) 
                        && FormPharmacy.controls.phoneNumber.errors?.pattern">
                            Número de teléfono inválido.
                        </div>

                    </div>

                    <!-- Campo Correo electrónico -->
                    <div class="mb-4">

                        <label class="pill-label-reminder">Email:</label>

                        <input type="email" class="form-control input100" formControlName="contactEmail" placeholder="nombre@ejemplo.com" [ngClass]="{'is-invalid': (FormPharmacy.controls.contactEmail.touched || submitted)  
                        && FormPharmacy.controls.contactEmail.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.contactEmail.touched || submitted) 
                        && FormPharmacy.controls.contactEmail.errors?.required">
                            Este campo es obligatorio.
                        </div>
                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.contactEmail.touched || submitted) 
                        && (FormPharmacy.controls.contactEmail.errors?.email) ">
                            Email inválido.
                        </div>
                    </div>

                    <!-- Campo Dirección -->
                    <div class="mb-3">
                        <label class="pill-label-reminder">Dirección del local:</label>

                        <input #mapSearchField matInput type="text" class="form-control form-reminder-input" formControlName="address" placeholder="Buscar" [ngClass]="{'is-invalid':    (FormPharmacy.controls.address.touched || submitted)  
                        && FormPharmacy.controls.address.errors}" />

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.address.touched || submitted) 
                        && FormPharmacy.controls.address.errors?.required">
                            Este campo es obligatorio.
                        </div>

                        <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormPharmacy.controls.address.touched || submitted) 
                        && FormPharmacy.controls.address.errors?.maxlength">
                            Máximo 55 caracteres.
                        </div>
                    </div>


                    <div class="map-container">
                        <google-map width="100%" height="50vh" [center]="initialCoordinates" [options]="mapConfigurations"></google-map>
                    </div>

                    <button type="submit" class="pill-form-btn">Comenzar</button>

                </form>

                <!-- 1)Completa el formulario.
                2)Te contactaremos para confirmar creación de farmacia.
                3)Una vez confirmada tu farmacia, te solitaremos los datos de las sucursales. -->

            </div>
        </div>
    </div>
</div>