.container-login100-form-btn {
    margin-top: 20px;
}

.form-patient-container {
    border-radius: 10px;
    width: 1200px;
    height: auto;
    padding: 30px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 1px #bfb3d6;
    ;
}

.div-border-rigth {
    border-right: 2px solid #bbb;
    border-radius: 2px;
}

.div-border-left {
    border-left: 2px solid #bbb;
    border-radius: 2px;
}

.box-pharm {
    margin: 15px 0;
    align-items: center;
    width: auto;
    height: auto;
}

.box-pharm:hover {
    background-color: rgba(240, 240, 240, 0.938);
    cursor: default;
    box-shadow: 0px 0px 5px 1px #bfb3d6;
}

.reminder-box img {
    margin: 0 auto;
}

.empty-medications {
    text-align: center;
}

.empty-medications span {
    display: block;
    font-size: 20px;
    margin: 0 0 15px 0;
}

.empty-medications .pill-back-button-reminder {
    font-size: 20px;
}

.pill-back-button-reminder .mat-icon {
    font-size: 21px;
    position: relative;
    right: 4px;
    top: 2px;
}

.empty-medications .pill-back-button-reminder:hover {
    font-size: 20px;
}

.reminder-title {
    font-size: 36px;
}

.box-patient-title {
    text-align: center;
    padding: 40px;
}

.box-patient-title span {
    display: block;
    margin: 15px 0;
    font-size: 18px;
    height: auto;
    width: 100%;
}

.box-patient-title .box-pharm span {
    margin: 15px 15px 15px 0;
}

.home-reminder-button {
    display: block;
    margin: 0 auto 15px auto;
}

.box-patient-title .box-pharm img {
    width: 60px;
    margin: 10px 20px 10px 10px;
}

.box-patient-title .box-pharm {
    text-align: left;
}

.box-patient-title .box-pharm:hover {
    transition: 300ms;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #6626db;
    cursor: pointer;
}

.infoAsignarPaciente {
    margin: auto 15px auto 0 !important;
    font-size: 20px;
    color: #707070;
    transition: 300ms;
}

.infoAsignarPaciente:hover {
    color: black;
    transition: 300ms;
}

.pill-go-to-pharmacy {
    font-family: Poppins-Regular;
    color: gray;
    font-size: 100%;
    text-decoration: none;
}

.pill-go-to-pharmacy:hover {
    font-family: Poppins-Regular;
    color: #6626db;
    transition: 200ms;
    cursor: pointer;
}

.pill-go-to-pharmacy .mat-icon {
    font-size: 21px;
    position: relative;
    right: 4px;
    top: 2px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .form-patient-container {
        margin-top: 5%;
    }
    .pill-form-btn {
        width: 100%;
    }
    .div-border-rigth {
        border-right: none;
        border-bottom: 2px solid #bbb;
        border-radius: 2px;
        padding: 0 4% 10% 4%;
    }
    .div-border-left {
        border-left: none;
        border-top: 2px solid #bbb;
        border-radius: 2px;
        padding: 15px 4% 0 4%;
    }
    .cont-opt .box-pharm .infoAsignarPaciente {
        width: 25px;
        font-size: 25px;
    }
}