<div class="login-background">

    <!-- Este elemento se muestra cuando no hay solicitudes registradas -->
    <div class="container-home" *ngIf="requests.length == 0">
        <div class="box-reminder-title">
            <span class="home-title-2 ">
                No hay solicitudes registradas.            
            </span>

            <a class="pill-back-button-reminder" routerLink="/home">
                <br><br><span class="back">&lt; </span> &nbsp;Regresar al inicio
            </a>
        </div>
    </div>

    <div class="container" *ngIf="requests.length != 0">
        <div class="container-home-title">
            <span class="home-title">
            Solicitudes de registro
            </span>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-xs-12 center-col">
                <div class="box-pharm" *ngFor="let request of requests">

                    <div class="pharm-name">
                        <span class="box-pharm-name">
                            {{request.pharmacyName}}
                        </span>

                        <button mat-icon-button>
                            <mat-icon class="material-icons-outlined" (click)="expandData(request)" *ngIf="!request.expand">
                                expand_more
                            </mat-icon>
                            <mat-icon class="material-icons-outlined" (click)="expandData(request)" *ngIf="request.expand">
                                expand_less
                            </mat-icon>
                        </button>
                    </div>

                    <div class="pharm-data" *ngIf="request.expand">
                        <span>
                            <mat-icon class="material-icons-outlined location-icon">add_location</mat-icon>
                            Dirección: {{request.address}}
                        </span>
                        <span> 
                            <mat-icon class="material-icons-outlined location-icon">email</mat-icon>
                            Email: {{request.contactEmail}}
                        </span>
                        <span> 
                            <mat-icon class="material-icons-outlined location-icon">phone</mat-icon>
                            Teléfono: {{request.phoneNumber}}
                        </span>
                        <span> 
                            <mat-icon svgIcon="pharmacy"></mat-icon>
                            Sucursales: {{request.branchesNumber}}
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>