<div class="login-background" *ngIf="route() == '/pharmacyRequests'">

    <!-- Este elemento se muestra cuando no hay solicitudes registradas -->
    <div class="container-home" *ngIf="requests.length == 0">
        <div class="box-reminder-title">
            <span class="home-title-2 ">
                No hay solicitudes registradas.            
            </span>

            <a class="pill-back-button-reminder" routerLink="/home">
                <br><br><span class="back">&lt; </span> &nbsp;Regresar al inicio
            </a>
        </div>
    </div>

    <div class="container" *ngIf="requests.length != 0">

        <div class="container-home-title">
            <span class="home-title">
            Solicitudes de registro
            </span>
        </div>

        <button mat-button [matMenuTriggerFor]="belowMenu">Estado{{filter == '' ? '':': ' + filter}}</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="filterPendent()">Pendiente</button>
            <button mat-menu-item (click)="filterApproved()">Aprobada</button>
            <button mat-menu-item (click)="filterRejected()">Rechazada</button>
        </mat-menu>

        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-xs-12 center-col">
                <div *ngFor="let request of requests">

                    <div class="box-pharm" [@expand]="request.state" *ngIf="request.status == filter">

                        <div class="pharm-name">
                            <span class="box-pharm-name">
                                {{request.pharmacyName}}
                            </span>

                            <button mat-icon-button>
                                <mat-icon class="material-icons-outlined" (click)="expandData(request)" *ngIf="!request.expand">
                                    expand_more
                                </mat-icon>
                                <mat-icon class="material-icons-outlined" (click)="expandData(request)" *ngIf="request.expand">
                                    expand_less
                                </mat-icon>
                            </button>
                        </div>

                        <div class="pharm-data">
                            <span>
                                <mat-icon class="material-icons-outlined location-icon">add_location</mat-icon>
                                Dirección: {{request.address}}
                            </span>
                            <span> 
                                <mat-icon class="material-icons-outlined location-icon">email</mat-icon>
                                Email: {{request.contactEmail}}
                            </span>
                            <span> 
                                <mat-icon class="material-icons-outlined location-icon">phone</mat-icon>
                                Teléfono: {{request.phoneNumber}}
                            </span>
                            <span> 
                                <mat-icon svgIcon="pharmacy"></mat-icon>
                                Sucursales: {{request.branchesNumber}}
                            </span>

                            <div class="buttons">
                                <button type="button" class="btn btn-success" (click)="addPharmacy(request)">
                                    <mat-icon class="material-icons-outlined">add</mat-icon>
                                    Registrar farmacia
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <mat-icon class="material-icons-outlined">close</mat-icon>
                                    Anular solicitud
                                </button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</div>

<router-outlet></router-outlet>