.home-register-button {
    position: relative;
    top: 25px;
    border: #5cf3ba solid 3px;
    border-radius: 20px;
    height: 10%;
    width: 22%;
    color: #5cf3ba;
    font-family: Poppins-Bold;
    text-align: center;
    display: inline-block;
    padding-bottom: 50x;
    font-size: 20px;
    transition: 300ms !important;
}

.home-register-button:hover {
    color: #6626db;
    background-color: #5cf3ba;
    transition: 300ms !important;
    box-shadow: 1px 1px 20px 2px #8153d6;
}

.slide-icon1 {
    width: 4%;
    position: relative;
    right: 20px;
    top: 18px;
}

.slide-icon3 {
    position: relative;
    right: 30%;
    width: 140px;
    bottom: 15vh;
    animation: fadeInLeft 2s;
}

.h1-pill {
    color: #6626db;
    font-size: 475%;
    position: relative;
    right: 44vh;
    top: 36vh;
    animation: fadeInLeft 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.h2-pill {
    color: #5cf3ba;
    font-size: 475%;
    position: relative;
    right: 50vh;
    bottom: 30vh;
    animation: fadeInLeft 2s;
}

.h3-pill {
    color: #5cf3ba;
    font-size: 475%;
    position: relative;
    right: 44vh;
    bottom: 18vh;
    animation: fadeInLeft 2s;
}

.h4-pill {
    color: #5cf3ba;
    font-size: 475%;
    position: relative;
    left: 200px;
    bottom: 200px;
    animation: fadeInRight 2s;
}

.paragraph1-pill {
    color: #5cf3ba;
    font-family: Poppins-Regular;
    font-size: 175%;
    position: relative;
    bottom: 10vh;
    left: 42vh;
    animation: fadeInRight 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.paragraph2-pill {
    color: #5cf3ba;
    font-family: Poppins-Regular;
    font-size: 175%;
    position: relative;
    bottom: 24vh;
    right: 50vh;
    animation: fadeInLeft 2s;
}

.paragraph3-pill {
    color: #5cf3ba;
    font-family: Poppins-Regular;
    font-size: 175%;
    position: relative;
    bottom: 10vh;
    right: 44vh;
    animation: fadeInLeft 2s;
}

.logo-homepage {
    position: relative;
    top: 50vh;
    right: 48vh;
    width: 15%;
    animation: fadeInLeft 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media (min-width:1920px) {
    .h1-pill {
        right: 55vh;
        top: 30vh;
        font-size: 600%;
    }
    .paragraph1-pill {
        bottom: 15vh;
        left: 40vh;
        font-size: 225%;
    }
    .logo-homepage {
        top: 45vh;
        right: 55vh;
    }
    .h2-pill {
        font-size: 700%;
        right: 65vh;
        bottom: 30vh;
    }
    .paragraph2-pill {
        font-size: 250%;
        bottom: 24vh;
        right: 65vh;
    }
    .home-register-button {
        font-size: 30px;
    }
    .h3-pill {
        font-size: 650%;
        right: 54vh;
        bottom: 24vh;
    }
    .paragraph3-pill {
        font-size: 250%;
        bottom: 15vh;
        right: 54vh;
    }
    .slide-icon3 {
        width: 200px;
        bottom: 20vh;
    }
}