<div class="animated fadeInUp">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../../assets/images/fondo-slide-1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="h1-pill">Qué es <br> PillBox?</h1>
                    <p class="paragraph1-pill">
                        PillBox es una aplicación en <br> la que podrás:
                        <br><br>
                        <img class="slide-icon1" src="../../../assets/images/meds (1).png" alt=""> Gestionar todos tus <br> medicamentos
                        <br><br>
                        <img class="slide-icon1" src="../../../assets/images/Time-PNG-Image (1).png" alt=""> Establecer recordatorios <br> para tus tomas
                        <br><br>
                        <img class="slide-icon1" src="../../../assets/images/calendar (1).png" alt=""> Solicitar un turno a <br> tu farmacia
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <img src="../../../assets/images/fondo-slide-2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="h2-pill">Creá tu<br> cuenta</h1>
                    <p class="paragraph2-pill">
                        Y empezá la experiencia <br> PillBox
                        <br><br>
                        <button class="home-register-button" routerLink="/register">Registrarse</button>
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <img src="../../../assets/images/fondo-slide-3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="h3-pill">Obtené la</h1>
                    <img class="slide-icon3" src="../../../assets/images/klipartz.com (1).png" alt="">
                    <h1 class="h4-pill">aplicación</h1>
                    <p class="paragraph3-pill">
                        Comienza ya a gestionar tus
                        <br>medicamentos de una forma
                        <br>rápida y simple.
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>