<div class="limiter login-background" *ngIf="getPathName() === '/home'">

    <div class="container-home-title">
        <span class="home-title">
        Bienvenido {{name}}!
        </span>
    </div>
    <div class="container-home">
        <div class="home-box" routerLink="./reminder" (mouseover)="showDescMedicament=true" (mouseout)="showDescMedicament=false">
            <img class="box-image" src="../../../assets/images/vaccine.png" alt="">
            <span class="box-title">Medicamentos</span>
        </div>
        <div class="home-box" routerLink="./pharmacy" (mouseover)="showDescPharmacy=true" (mouseout)="showDescPharmacy=false">
            <img class="box-image" src="../../../assets/images/pharmacy.png" alt="">
            <span class="box-title">Farmacias</span>
        </div>
        <!-- <div class="home-box" (mouseover)="showDescAppointment=true" (mouseout)="showDescAppointment=false">
            <img class="box-image" src="../../../assets/images/box-calendar.png" alt="">
            <span class="box-title">Sacar turno</span>
        </div> -->
    </div>

    <div class="description-limiter" *ngIf="screenWidth() > 1024">
        <span class="box-description" *ngIf="showDescMedicament">Aquí puedes administrar tus medicamentos y gestionar los recordatorios para tus tomas.</span>
        <span class="box-description" *ngIf="showDescPharmacy">Busca entre las farmacias registradas y encuentra tu farmacia de preferencia.</span>
    </div>

</div>
<router-outlet></router-outlet>