/*//////////////////////////////////////////////////////////////////
[ Outlined icons ]*/

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Bold;
    src: url('../css/fonts/Poppins/Poppins-Bold.otf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../css/fonts/Poppins/Poppins-Regular.otf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}


/*---------------------------------------------*/

a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #403866;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: Poppins-Bold;
}

p,
span {
    font-family: Poppins-Regular;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Alerts ]*/

.swal2-popup {
    font-family: Poppins-Regular !important;
}


/*//////////////////////////////////////////////////////////////////
[ Navbar ]*/

.pharmacy-icon {
    transform: scale(0.9);
    margin: 0 5px 0 0;
}

.pharmacy-register-button {
    border: #5cf3ba solid 2px;
    border-radius: 20px;
    height: 36px;
    width: auto;
    color: #5cf3ba;
    font-family: Poppins-Regular;
    text-align: center;
    display: inline-block;
    padding: 2px 20px;
    font-size: 14px;
    transition: 300ms !important;
    margin-right: 15px;
}

.pharmacy-register-button:hover {
    color: #6626db;
    background-color: #5cf3ba;
    transition: 300ms !important;
    box-shadow: 1px 1px 4px 2px #8153d6;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #6626db !important;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 4px 1.5px #270e53;
}

.navbar-nav {
    text-align: center !important;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

body {
    padding-top: 54px;
    padding-bottom: 56px;
}

.divBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-link-user {
    font-family: Poppins-Regular !important;
    color: #5cf3ba !important;
    font-size: 90%;
    transition: 200ms;
    text-decoration: none;
}

.nav-link-user:hover {
    font-size: 91%;
    transition: 200ms;
}

.nav-link {
    font-family: Poppins-Regular !important;
    color: rgb(190, 174, 174) !important;
    font-size: 90%;
    transition: 250ms;
    position: relative;
    bottom: 2px;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    font-size: 91%;
    color: #5cf3ba !important;
    transition: 250ms;
}

.pill-nav-link {
    font-family: Poppins-Regular;
    color: #5cf3ba;
}

nav .navbar-nav li a {
    color: #5cf3ba !important;
    font-family: Poppins-Regular;
}

.pill-navbar {
    position: relative;
    left: 5px;
    width: 115px;
    transition: 200ms;
}

.pill-navbar:hover {
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ carousel ]*/

.home-register-button {
    position: relative;
    top: 25px;
    border: #5cf3ba solid 3px;
    border-radius: 20px;
    height: 10%;
    width: 22%;
    color: #5cf3ba;
    font-family: Poppins-Bold;
    text-align: center;
    display: inline-block;
    padding-bottom: 50x;
    font-size: 20px;
    transition: 300ms !important;
}

.home-register-button:hover {
    color: #6626db;
    background-color: #5cf3ba;
    transition: 300ms !important;
    box-shadow: 1px 1px 20px 2px #8153d6;
}

.slide-icon1 {
    width: 4%;
    position: relative;
    right: 20px;
    top: 18px;
}

.slide-icon3 {
    transform: scale(5);
    color: #5cf3ba;
    position: relative;
    right: 30%;
    bottom: 22vh;
    animation: fadeIn 2s;
}

.h1-pill {
    color: #6626db;
    font-size: 475%;
    position: relative;
    right: 44vh;
    top: 36vh;
    animation: fadeInLeft 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.h2-pill {
    color: #5cf3ba;
    font-size: 475%;
    position: relative;
    right: 50vh;
    bottom: 30vh;
    animation: fadeInLeft 2s;
}

.h3-pill {
    color: #5cf3ba;
    font-size: 475%;
    position: relative;
    right: 44vh;
    bottom: 32vh;
    animation: fadeInLeft 2s;
}

.h4-pill {
    color: #5cf3ba;
    font-size: 475%;
    position: relative;
    left: 200px;
    bottom: 200px;
    animation: fadeInRight 2s;
}

.paragraph1-pill {
    color: #5cf3ba;
    font-family: Poppins-Regular;
    font-size: 175%;
    position: relative;
    bottom: 10vh;
    left: 42vh;
    animation: fadeInRight 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.paragraph2-pill {
    color: #5cf3ba;
    font-family: Poppins-Regular;
    font-size: 175%;
    position: relative;
    bottom: 24vh;
    right: 50vh;
    animation: fadeInLeft 2s;
}

.paragraph3-pill {
    color: #5cf3ba;
    font-family: Poppins-Regular;
    font-size: 175%;
    position: relative;
    bottom: 10vh;
    right: 44vh;
    animation: fadeInLeft 2s;
}

.carousel {
    font-family: Poppins-Bold;
}

.carousel-paragraph {
    font-family: Poppins-Regular;
    font-size: 16.8px;
    color: black;
}

.role-image {
    width: 500px;
    padding-bottom: 60px;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 90px;
}

.img-role {
    width: 100%;
}

.img-role:hover {
    cursor: pointer;
}

input[type='image'] {
    width: 300px;
}

.carousel-item {
    text-align: center !important;
}

.fondo-slide {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}


/*//////////////////////////////////////////////////////////////////
[ homepage ]*/

.logo-homepage {
    position: relative;
    top: 50vh;
    right: 48vh;
    width: 15%;
    animation: fadeInLeft 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.carousel-inner .sizing {
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondo-slide-1 {
    background: url(../images/fondo-slide-1.png) no-repeat center center fixed;
}

.fondo-slide-2 {
    background: url(../images/fondo-slide-2.png) no-repeat center center fixed;
}

.fondo-slide-3 {
    background: url(../images/fondo-slide-3.png) no-repeat center center fixed;
}


/*//////////////////////////////////////////////////////////////////
[ reminder ]*/

.poppins-regular {
    font-family: Poppins-Regular !important;
    color: black;
}

.box-reminder-menu {
    border-radius: 10px !important;
}

.more-reminder {
    text-align: right;
}

.reminder-image {
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}

.unit-image {
    width: 15px;
}

.container-reminder {
    width: 100%;
    min-height: 25vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    padding: 15px 20px 30px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pill-back-button-reminder {
    margin-top: 100px;
    font-family: Poppins-Regular;
    color: gray !important;
    font-size: 100%;
    text-decoration: none;
}

.pill-back-button-reminder:img-role {
    font-family: Poppins-Regular;
    color: #6626db !important;
    font-size: 102%;
    transition: 200ms;
    cursor: pointer;
}

.toggle-reminder {
    width: 1.8%;
}

.reminder-title {
    font-family: Poppins-Bold;
    font-size: 300%;
    color: #1a1b73;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 1.2s;
}

.new-reminder-btn {
    padding: 5px 20px 5px 20px;
    border: #6626db solid 2px;
    border-radius: 40px;
    color: #6626db;
    font-family: Poppins-Bold;
    font-size: 20px;
    transition: 300ms !important;
    animation: fadeIn 1.2s;
    height: auto;
    width: auto;
}

.new-reminder-btn:hover {
    border: #7732f8 solid 2px;
    color: #5cf3ba;
    background-color: #7732f8;
    transition: 300ms !important;
    box-shadow: 1px 1px 10px 1px #8153d6;
}

.reminder-box {
    border-radius: 20px;
    width: 325px;
    height: auto;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.938);
    box-shadow: 0px 0px 5px 1px #bfb3d6;
    margin: 8px;
    transition: 300ms;
    animation: fadeInUp 600ms;
}

.reminder-box:hover,
.box-pharm:hover {
    transition: 300ms;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #6626db;
}

.box-reminder-medication-name {
    margin: 12px 0;
    font-family: Poppins-Bold;
    color: black;
    font-size: 20px;
    text-align: center;
}

.box-reminder-medication {
    font-family: Poppins-Regular;
    color: black;
    font-size: 14px;
    margin: 2% 1%;
}

.box-reminder-title {
    border-radius: 40px;
    width: auto;
    height: auto;
    margin: 50px;
    padding: 5% 10% 5% 10%;
    background-color: rgba(240, 240, 240, 0.938);
    box-shadow: 0px 0px 10px 1px #bfb3d6;
    animation: fadeInUp 600ms;
    text-align: center;
}

.btn-reminder-image {
    width: 20px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.home-reminder-button {
    padding: 5px 30px 5px 30px;
    border: #6626db solid 2px;
    border-radius: 40px;
    height: 10%;
    width: auto;
    color: #6626db;
    font-family: Poppins-Bold;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition: 300ms !important;
    animation: fadeInUp 600ms;
    margin-top: 50px;
}

.home-reminder-button:hover {
    border: #5cf3ba solid 2px;
    color: #6626db;
    background-color: #5cf3ba;
    font-family: Poppins-Bold;
    text-align: center;
    display: inline-block;
    transition: 300ms !important;
    box-shadow: 1px 1px 10px 1px #8153d6;
}


/*//////////////////////////////////////////////////////////////////
[ home ]*/

.description-limiter {
    padding: 0px 300px 0px 300px;
    align-items: center;
    text-align: center;
    margin-top: 1.5%;
}

.box-description {
    font-family: Poppins-Regular;
    text-align: center;
    font-size: 120%;
    animation: fadeIn 300ms;
}

.box-title {
    font-family: Poppins-Regular;
    font-size: 125%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-box {
    border-radius: 20px;
    width: 25%;
    height: auto;
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.938);
    box-shadow: 0px 0px 10px 1px #bfb3d6;
    margin: 2%;
    transition: 300ms;
    animation: fadeInUp 600ms;
}

.home-box:hover {
    transition: 300ms;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #9472d4;
    height: 50% !important;
}

.box-image {
    width: 150px;
    display: block;
    margin: auto;
}

.home-title {
    font-size: 250%;
    font-family: Poppins-Bold;
    color: #1a1b73;
    line-height: 1.2;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: fadeInUp 600ms;
}

.home-title-2 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #1a1b73;
    line-height: 1.2;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: fadeInUp 600ms;
}

.container-home {
    width: 100%;
    min-height: 25vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px 150px 15px 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-home-title {
    width: 100%;
    min-height: 15vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    padding: 15px 150px 0px 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.login-background {
    background: hsla(157, 86%, 66%, 1);
    background: linear-gradient(270deg, hsla(157, 86%, 66%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(157, 86%, 66%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(157, 86%, 66%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5CF3BA", endColorstr="#FFFFFF", GradientType=1);
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3% 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 1px #bfb3d6;
    ;
}

.form-reminder-container {
    border-radius: 10px;
    width: 1200px;
    height: auto;
    padding: 30px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 1px #bfb3d6;
    ;
}

.container-carousel {
    /* height: 150px; */
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    /* width: 100%; */
    min-height: 75vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}


/*==================================================================
[ Pharmacy ]*/

.container-pharmacy {
    padding: 2%;
}

.cont-search-input {
    margin: 0 auto;
    padding: 5px 5px;
    border: #6626db solid 2px;
    border-radius: 40px;
    color: #6626db;
    font-family: Poppins-Regular;
    font-size: 16px;
    animation: fadeIn 1.2s;
    height: auto;
    width: 30%;
}

.search-input {
    border: none;
    background: transparent;
    width: 80%;
    margin: 0 0 0 4%;
    color: #6626db;
}

.search-input:focus {
    outline: none;
}

.col-cont-pharm {
    margin: 3% 20%;
}

.box-pharm {
    border-radius: 5px;
    width: 100%;
    padding: 2%;
    height: auto;
    background-color: rgba(240, 240, 240, 0.938);
    box-shadow: 0px 0px 5px 1px #bfb3d6;
    transition: 300ms;
    animation: fadeInUp 600ms;
    margin: 2% 0;
}

.box-pharm:hover {
    cursor: pointer;
}

.cont-img-pharm {
    border: black solid 1.5px;
    border-radius: 7px;
    width: 16%;
    display: inline-block;
}

.img-pharm {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.cont-text-pharm {
    width: auto;
    display: inline-block;
    height: 100%;
    margin: 0 0 0 2%;
}

.box-pharm-name {
    display: block;
    font-family: Poppins-Bold;
    font-size: 16px;
}

.box-pharm-address {
    font-size: 14px;
    margin-bottom: 100%;
}


/*==================================================================
[ Form ]*/

.reminder-label {
    font-family: Poppins-Bold;
    margin-bottom: 15px;
    font-size: 23px;
    color: #1a1b73;
    text-align: center;
    width: 100%;
    display: block;
}

.div-border-left {
    border-left: 2px solid #bbb;
    border-radius: 2px;
}

.div-border-rigth {
    border-right: 2px solid #bbb;
    border-radius: 2px;
    padding: 0px 30px 0px 0px;
}

.div-center {
    padding: 0;
}

.register-role {
    width: 30%;
    display: block;
    margin: auto;
}

.login100-form {
    width: 100%;
}

.pill-label-form {
    font-family: Poppins-Bold;
    margin-bottom: 4px;
    font-size: 1.2em;
    color: #6626db;
}

.pill-label-reminder {
    font-family: Poppins-Bold;
    margin-bottom: 4px;
    font-size: 15px;
    color: #6626db;
}

.pill-label-check {
    font-family: Poppins-Regular;
    color: gray;
}

.pill-label-check2 {
    font-family: Poppins-Regular;
    color: #6c767d;
}

.pill-label-check:hover,
.pill-label-check2:hover {
    color: #6626db;
    transition: 200ms;
    cursor: pointer;
}

.pill-label-mail {
    font-family: Poppins-Regular;
    color: gray;
}

.pill-danger {
    font-family: Poppins-Regular;
    font-size: 0.8em;
    color: rgba(167, 4, 4, 0.993);
}

.pill-button {
    background-color: #371BBA;
    color: #5cf3ba;
    font-family: Poppins-Regular;
    border: 2px solid #5cf3ba;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #6626db;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
}

.form-reminder-title {
    font-family: Poppins-Bold;
    font-size: 35px;
    color: #1a1b73;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
}

.form-check-input:hover {
    cursor: pointer;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
}


/*---------------------------------------------*/

.cont-start-date {
    margin-bottom: 15px;
}

mat-select {
    background-color: honeydew !important;
    font-family: Poppins-Regular !important;
    height: 42px;
}

mat-select .mat-select-placeholder {
    font-size: 15px !important;
    color: #6c767d;
}

.form-reminder-input {
    font-family: Poppins-Regular;
    color: #403866;
    background-color: honeydew !important;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    height: 42px;
}

.form-reminder-input::placeholder {
    font-size: 15px;
}

.input100 {
    font-family: Poppins-Regular;
    color: #403866;
    background-color: honeydew !important;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 42px;
}

.input100::placeholder {
    font-size: 15px;
}

.inputDate {
    font-family: Poppins-Regular;
    color: #403866;
    background-color: honeydew !important;
    line-height: 1.2;
    font-size: 18px;
    display: inline;
    width: 70%;
    background: transparent;
    height: 42px;
    margin-top: 0px !important;
}

.inputDate::placeholder {
    font-size: 15px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #827ffe;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #827ffe;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #827ffe;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.pill-reminder-btn {
    font-family: Poppins-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 40%;
    height: 52px;
    background-color: #371BBA;
    color: #5cf3ba;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.pill-form-btn {
    font-family: Poppins-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 52px;
    background-color: #371BBA;
    color: #5cf3ba;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.pill-form-btn:hover {
    background-color: #6626db;
}

.pill-back-button {
    font-family: Poppins-Regular;
    color: gray !important;
    width: 20px;
    text-decoration: none;
}

.pill-back-button:hover {
    font-family: Poppins-Regular;
    color: #6626db !important;
    font-size: 0.88em;
    transition: 200ms;
    cursor: pointer;
}

.back {
    position: relative;
    top: 5px;
    font-size: 2em;
}

input:focus {
    transition: 200ms;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    font-family: Ubuntu-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/*//////////////////////////////////////////////////////////////////
[ Footer ]*/

footer {
    position: relative;
    bottom: 0px;
    height: 56px;
    background-color: #371bba;
    padding: 16px;
    width: 100%;
}

.span-footer {
    font-family: Poppins-Regular;
    color: #5cf3ba;
    font-size: 15px;
}

.span-footer-gray {
    font-family: Poppins-Regular;
    color: rgb(190, 174, 174);
    font-size: 15px;
}

.logo-footer {
    width: 35px;
    position: relative;
    top: -3px;
    right: 8px;
}


/*//////////////////////////////////////////////////////////////////
[ pharmacy-register ]*/

.cont-pharmacy {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/farmaceutica.jpg");
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.cont-pharm-form {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 5% 10% 5% 0;
}

.reg-pharm-title {
    font-size: 220%;
    color: #041d41;
    margin: 5% 0;
}

.pharm-form-title {
    font-family: Poppins-Bold;
    font-size: 200%;
    color: #041d41;
    text-align: center;
    display: block;
    width: 100%;
    margin: 5% 0;
}

.pharm-form {
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5% 10%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 1px #bfb3d6;
    ;
}

.p-pharm {
    color: #041d41;
    font-size: 120%;
}

.cont-pharm-reg {
    padding: 5% 10%;
}

.logo-pharm-register {
    width: 60%;
    margin: 0 0 10% 0;
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

.mobile {
    max-width: 400px;
    margin: 0 auto;
}

.bg-mobile {
    background: url('../images/fondo-mobile.png') no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
}

.logo-mobile {
    width: 95%;
    margin: 15% 0 10%;
    animation: fadeIn 3s;
}

.mobile-title {
    font-size: 35px;
    color: #5cf3ba;
    margin-bottom: 5%;
    animation: fadeInLeft 1500ms;
    animation-delay: 1500ms;
    opacity: 0;
    animation-fill-mode: forwards;
}

.p1-mobile {
    font-size: 25px;
    color: #5cf3ba;
    line-height: 140%;
    margin-bottom: 12%;
    animation: fadeInLeft 1500ms;
    animation-delay: 1500ms;
    opacity: 0;
    animation-fill-mode: forwards;
}

.span-mobile {
    font-size: 20px;
    color: #5cf3ba;
    line-height: 100%;
    position: relative;
    left: 32%;
}

.cont-span-mobile1 {
    animation: fadeIn 1500ms;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-bottom: 15%;
}

.cont-span-mobile2 {
    animation: fadeIn 1500ms;
    animation-delay: 4.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-bottom: 15%;
}

.cont-span-mobile3 {
    animation: fadeIn 1500ms;
    animation-delay: 6s;
    opacity: 0;
    animation-fill-mode: forwards;
    padding-bottom: 15%;
}

.pill-mobile,
.clock-mobile,
.calendar-mobile {
    width: 13%;
    position: absolute;
    left: 12%;
    margin-bottom: 5%;
}

.pill-mobile {
    animation: fadeIn 1500ms;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.clock-mobile {
    animation: fadeIn 1500ms;
    animation-delay: 4.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.calendar-mobile {
    animation: fadeIn 1500ms;
    animation-delay: 6s;
    opacity: 0;
    animation-fill-mode: forwards;
}


/* Mobile */

@media only screen and (min-width:320px) and (max-width:480px) {
    .new-reminder-btn {
        font-size: 120%;
    }
    .role-image {
        width: 320px;
        padding-bottom: 60px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .img-role {
        width: 60%;
    }
    .login-container {
        width: auto;
        padding: 10%;
    }
    .container-home {
        padding: 0px 10% 15px 10%;
        height: auto;
    }
    .container-reminder {
        padding: 5% 3% 10% 3%;
    }
    .container-home-title {
        padding: 3% 10%;
    }
    .home-box {
        margin: 3% 0;
        width: 100%;
        padding: 15% 20%;
    }
    .reminder-title {
        font-size: 180%;
    }
    .form-reminder-title {
        font-size: 30px;
    }
    .div-border-rigth {
        border-right: none;
        border-bottom: 2px solid #bbb;
        border-radius: 2px;
        padding: 0 4% 10% 4%;
    }
    .div-border-left {
        border-left: none;
        border-top: 2px solid #bbb;
        border-radius: 2px;
        padding: 15px 4% 0 4%;
    }
    .div-center {
        padding: 0 4%;
    }
    .pill-reminder-btn {
        width: 100%;
    }
    .reminder-box {
        height: auto;
        width: 100%;
    }
    .pharmacy-register-button {
        width: 75%;
        margin: 0 auto;
    }
    .pharmacy-icon {
        transform: scale(0.75);
        margin: 0 5px 0 0;
    }
    .logo-pharm-register {
        width: 70%;
        margin: 5% auto;
    }
    .reg-pharm-title {
        font-size: 160%;
        color: #041d41;
        margin: 5% 0;
    }
    .cont-pharm-reg {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/farmaceutica.jpg");
        height: 100%;
        background-size: cover;
        background-position: 80% 0%;
        margin-bottom: 340%;
        padding: 10% 5%;
        width: 100%;
    }
    .cont-pharm-form {
        position: absolute;
        padding: 0 5%;
        top: 60%;
    }
    .pharm-form-title {
        font-family: Poppins-Bold;
        font-size: 180%;
        color: #041d41;
        margin: 5% 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .pharm-form {
        padding-bottom: 10%;
    }
    .cont-pharmacy {
        background-image: none;
    }
    .cont-search-input {
        width: 60%;
        padding: 0 3%;
    }
    .col-cont-pharm {
        margin: 5% 3%;
    }
    .box-pharm-name {
        font-size: 12px;
    }
    .box-pharm-address {
        font-size: 10px;
    }
    .cont-img-pharm {
        width: 20%;
    }
}

@media only screen and (max-width:480px) and (max-height:670px) {
    .cont-pharm-form {
        position: absolute;
        top: 60%;
    }
}

@media only screen and (max-width:480px) and (min-height:850px) {
    .cont-pharm-form {
        position: absolute;
        top: 45%;
    }
}

@media only screen and (width:320px) {
    .login-container {
        width: 300px;
    }
    .img-role {
        width: 160px;
    }
    .role-image {
        width: 260px;
        padding-bottom: 60px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .login100-form-title {
        font-size: 25px;
    }
    .carousel-paragraph {
        margin-left: 20px;
        margin-right: 20px;
    }
    .home-title {
        font-size: 25px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .home-title-2 {
        font-size: 25px;
    }
    .home-reminder-button {
        font-size: 15px;
        padding: 2px 15px 2px 15px;
        margin-top: 25px;
    }
    .btn-reminder-image {
        width: 15px;
    }
    .cont-pharm-form {
        padding: 0 3%;
    }
}


/* Tablets */

@media (min-width: 768px) and (max-width: 1024px) {
    .container-home {
        padding: 15px 15px 15px;
    }
    .home-box {
        margin: 0px;
    }
}