<div class="limiter container-login100  login-background">

    <div class="login-container animated fadeInUp">
        <form (ngSubmit)="login(FormLogin)" name="FormLogin" [formGroup]='FormLogin'>
            <div class="mb-3">

                <span class="login100-form-title p-b-20 p-t-10">
                Iniciar sesión
                </span>

                <!-- Campo email -->
                <label for="Email" class="pill-label-form">Email:</label>

                <input type="email" class="form-control input100" formControlName="Email" placeholder="nombre@ejemplo.com" [ngClass]="{'is-invalid': (FormLogin.controls.Email.touched || submitted)  
                && FormLogin.controls.Email.errors}" />

                <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormLogin.controls.Email.touched || submitted) 
                    && FormLogin.controls.Email.errors?.required">
                    Este campo es obligatorio.
                </div>

                <div id="emailHelp" class="pill-label-mail mt-2">Nunca compartiremos tu email con nadie.</div>
            </div>

            <!-- Campo contraseña -->
            <div class="mb-3 mt-4">
                <label for="Password" class="pill-label-form">Contraseña:</label>
                <input type="password" class="form-control input100" formControlName="Password" placeholder="Escribe aquí tu contraseña" [ngClass]="{'is-invalid': (FormLogin.controls.Password.touched || submitted)  
            && FormLogin.controls.Password.errors}" />
                <div class="pill-danger animated fadeIn mt-1" *ngIf="(FormLogin.controls.Password.touched || submitted) 
                && FormLogin.controls.Password.errors?.required">
                    Este campo es obligatorio.
                </div>
            </div>

            <!-- Recordar mi cuenta: Check -->
            <div class="mt-4"></div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" formControlName="RememberAccount" id="exampleCheck1">
                <label class="pill-label-check" for="exampleCheck1">Recordar mi cuenta</label>
            </div>

            <!-- Iniciar sesion: Button -->
            <div class="container-login100-form-btn m-t-17">
                <button type="submit" class="login100-form-btn pill-form-btn pill-buton">Iniciar sesión</button>
            </div>

            <!-- ¿No tienes cuenta? -->
            <div class="mt-3">
                <a routerLink="/register" class="pill-label-check">
                ¿No tienes cuenta?
            </a>
            </div>

            <!-- ¿Olvidaste tu contraseña? -->
            <div>
                <a routerLink="/register" class="pill-label-check">
                ¿Olvidaste tu contraseña?
            </a>
            </div>
        </form>
    </div>
</div>