<div class="login-background" *ngIf="route() == '/appointment'">
    <div class="container-home" *ngIf="appointments.length == 0">
        <div class="box-reminder-title">
            <div class="cont-back">
                <a class="pill-back-button mb-4" routerLink="/home">
                    <span class="back">&lt;</span> &nbsp;Regresar
                </a>
            </div>

            <span class="home-title-2">
                ¡Aún no tienes turnos cargados!            
            </span>

            <button class="new-reminder-btn" (click)="newAppointment()">
                <mat-icon style="transform: scale(0.9)" svgIcon="mas"></mat-icon>
                Crear turno
            </button>
        </div>
    </div>

    <div class="container animated fadeInUp" *ngIf="appointments.length != 0">
        <div class="row justify-content-md-center mb-4">
            <div class="col-lg-6 col-xs-12">
                <span class="home-title">
                    Turnos
                </span>

                <button class="new-reminder-btn" (click)="newAppointment()">
                    <mat-icon style="transform: scale(0.9)" svgIcon="mas"></mat-icon>
                    Crear turno
                </button>

            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-xs-12">
                <div class="box-pharm box" *ngFor="let date of byDate">
                    <span class="date">
                        {{date.name}}
                    </span>
                    <div class="box-pharm" *ngFor="let appointment of date['dayAppointments']">
                        <span>
                            de: {{appointment.startTime}} hs &nbsp; a: {{appointment.endTime}} hs
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>