<div class="login-background" *ngIf="route() == '/appointment'">
    <div class="container-home" *ngIf="appointments.length == 0">
        <div class="box-reminder-title">
            <div class="cont-back">
                <a class="pill-back-button mb-4" routerLink="/home">
                    <span class="back">&lt;</span> &nbsp;Regresar
                </a>
            </div>

            <span class="home-title-2">
                ¡Aún no {{userAction == 'newAppointment' ? 'tienes' : 'existen' }} turnos cargados!            
            </span>
        </div>
    </div>

    <div class="container animated fadeInUp" *ngIf="appointments.length != 0">
        <div class="row" [ngClass]="userAction == 'checkAppointment' ? 'justify-content-md-center' : 'justify-content-between'">
            <div class="col-lg-6 col-xs-12 box-container" *ngIf="userAction != 'checkAppointment'">
                <span class="home-title">Turnos Disponibles</span>
                <button class="new-reminder-btn" *ngIf="role == 'farmaceutico'" (click)="newAppointment()">
                <mat-icon style="transform: scale(0.9)" svgIcon="mas"></mat-icon>
                    Crear turno
                </button>
                <div class="box-pharm box" *ngFor="let date of availableByDate">
                    <span class="date">
                        {{ date.name }}
                    </span>
                    <div class="box-pharm cursor-pointer" *ngFor="let appointment of date['dayAppointments']" (click)="(role === 'paciente' || role === 'tutor') && openDialog(appointment)">
                        <span>
                            de: {{ appointment.startTime }} hs a: {{ appointment.endTime }} hs ({{ getTimeRemaining(appointment) }})
                        </span>
                        <div class="options">
                            <button *ngIf="role == 'farmaceutico'" mat-icon-button matTooltip="Editar turno" matTooltipPosition="above" (click)="modifyAppointment(appointment)">
                                <mat-icon class="material-icons-outlined">
                                    edit
                                </mat-icon>
                            </button>
                            <button *ngIf="role == 'farmaceutico'" mat-icon-button matTooltip="Eliminar turno" matTooltipPosition="above" color="warn" (click)="deleteAppointment(appointment)">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container-home" *ngIf="availableByDate.length == 0">
                    <div class="box-reminder-title">
                        <span class="home-title-2">
                        ¡Aún no {{userAction == 'newAppointment' ? 'tienes' : 'existen' }} turnos cargados!            
                    </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12 box-container">
                <span class="home-title">{{role == 'paciente' ? 'Mis próximos' : 'Próximos'}} turnos</span>
                <div class="box-pharm box" *ngFor="let date of upcomingByDate">
                    <span class="date">
                        {{ date.name }}
                    </span>
                    <div class="box-pharm" *ngFor="let appointment of date['dayAppointments']">
                        <span>
                            de: {{ appointment.startTime }} hs a: {{ appointment.endTime }} hs ({{ getTimeRemaining(appointment) }})
                        </span>
                        <div class="options">
                            <button *ngIf="role == 'farmaceutico' || role == 'paciente'" mat-icon-button matTooltip="Ver detalles" matTooltipPosition="above" (click)="viewDetails(appointment)">
                                <mat-icon class="material-icons-outlined">
                                    visibility
                                </mat-icon>
                            </button>
                            <button *ngIf="role == 'farmaceutico'" mat-icon-button matTooltip="Rechazar turno" matTooltipPosition="above" color="warn" (click)="rejectAppointment(appointment)" style="margin-left: auto;">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            <button *ngIf="role == 'paciente'" mat-icon-button matTooltip="Rechazar turno" matTooltipPosition="above" color="warn" (click)="rejectAppointmentPatient(appointment)" style="margin-left: auto;">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container-home" *ngIf="upcomingByDate.length == 0">
                    <div class="box-reminder-title">
                        <span class="home-title-2">
                        ¡No {{userAction == 'newAppointment' ? 'existen' : 'tienes' }} turnos solicitados!            
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>