<div class="container-pharmacy login-background">
    <h1 class="reminder-title mb-4">
        Farmacias
    </h1>

    <div class="container-login100-form-btn">
        <div class="cont-search-input">
            <mat-icon style="transform: scale(1.1);">search</mat-icon>
            <input class="search-input" type="text" placeholder="Buscar...">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-cont-pharm">
                <!-- *ngFor -->
                <div class="box-pharm">
                    <div class="cont-img-pharm">
                        <img class="img-pharm" src="../../../assets/images/farmacias-lider-logo.png" alt="">
                    </div>
                    <div class="cont-text-pharm">
                        <span class="box-pharm-name">
                            Farmacia Líder - Barrio Jardín
                        </span>
                        <span class="box-pharm-address">
                            Dirección: Av. Pablo Richieri 3116
                        </span>
                    </div>
                </div>
                <div class="box-pharm">
                    <div class="cont-img-pharm">
                        <img class="img-pharm" src="../../../assets/images/logo-farmacity.png" alt="">
                    </div>
                    <div class="cont-text-pharm">
                        <span class="box-pharm-name">
                            Farmacity 
                        </span>
                        <span class="box-pharm-address">
                            Dirección: José Manuel Estrada 153
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>