<div class="login-background" *ngIf="route() == '/inventory'">

    <div class="container-home">
        <!-- [@expand]="state"  -->
        <div class="box-reminder-title">

            <div class="cont-back">
                <a class="pill-back-button mb-4" routerLink="/home">
                    <span class="back">&lt;</span> &nbsp;Regresar
                </a>
            </div>

            <span class="home-title-2 ">
                ¡Aún no tienes medicamentos cargados!            
            </span>

            <button class="home-reminder-button" (click)="expands()">
                <mat-icon class="material-icons-outlined"  *ngIf="!expand">
                    expand_more
                </mat-icon>
                <mat-icon class="material-icons-outlined" *ngIf="expand">
                    expand_less
                </mat-icon>         
                &nbsp;Añadir medicamentos
            </button>

            <div class="cont-opt" *ngIf="expand" @fade>
                <div class="box-pharm" routerLink="/inventory/addMedicament">
                    <img src="../../../assets/images/vaccine.png" alt="">
                    <span>
                        Medicamento individual
                    </span>

                </div>
                <div class="box-pharm">
                    <img src="../../../assets/images/csv.png" alt="">
                    <span>
                        Carga con CSV
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>

<router-outlet></router-outlet>