<div class="login-background" *ngIf="route() == '/inventory'">

    <div class="container-home" *ngIf="medications.length == 0">
        <div class="box-reminder-title">

            <div class="cont-back">
                <a class="pill-back-button mb-4" routerLink="/home">
                    <span class="back">&lt;</span> &nbsp;Regresar
                </a>
            </div>

            <span class="home-title-2 ">
                ¡Aún no tienes medicamentos cargados!            
            </span>

            <!-- screenWidth < 480 ? stateBoxMobile :  -->
            <div class="cont-opt" [@expand]="stateBox">
                <button class="home-reminder-button" (click)="expands()">
                    <mat-icon class="material-icons-outlined"  *ngIf="!expand">
                        expand_more
                    </mat-icon>
                    <mat-icon class="material-icons-outlined" *ngIf="expand">
                        expand_less
                    </mat-icon>         
                    &nbsp;Añadir medicamentos
                </button>
                <div class="box-pharm" routerLink="/inventory/addMedicament" (click)="newMedication()">
                    <img src="../../../assets/images/vaccine.png" alt="">
                    <span>
                        Medicamento individual
                    </span>

                </div>
                <div class="box-pharm">
                    <div class="CSV" (click)="addCSV()">
                        <img src="../../../assets/images/csv.png" alt="">
                        <span>
                            Carga con CSV
                        </span>
                    </div>
                    <span class="material-icons-outlined infoCSV" (click)="infoCSV()">
                        info
                    </span>
                </div>

                <div class="cont-upload" (change)="captureFile($event)">
                    <input #inputFile class="input100" type="file" name="" id="">
                    <button mat-raised-button color="primary" (click)="uploadFile()">
                        <mat-icon class="material-icons-outlined">
                            file_upload
                        </mat-icon>
                        Subir archivo
                    </button>
                    <div class="pill-danger animated fadeIn" *ngIf="uploaded && inputState == 'isEmpty'">
                        Por favor, seleccione un archivo.
                    </div>
                    <div class="pill-danger animated fadeIn" *ngIf="uploaded && inputState == 'incorrectFile'">
                        Formato de archivo incorrecto.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container" *ngIf="medications.length != 0">

        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-xs-12">
                <span class="home-title">
                    Medicamentos
                </span>

                <div class="cont-opt" [@expand]="state">
                    <button class="new-reminder-btn list-btn" (click)="expands()">
                        <mat-icon class="material-icons-outlined"  *ngIf="!expand">
                            expand_more
                        </mat-icon>
                        <mat-icon class="material-icons-outlined" *ngIf="expand">
                            expand_less
                        </mat-icon>         
                        &nbsp;Añadir medicamentos
                    </button>
                    <div class="box-pharm" routerLink="/inventory/addMedicament" (click)="newMedication()">
                        <img src="../../../assets/images/vaccine.png" alt="">
                        <span>
                            Medicamento individual
                        </span>

                    </div>

                    <div class="box-pharm">
                        <div class="CSV" (click)="addCSV()">
                            <img src="../../../assets/images/csv.png" alt="">
                            <span>
                                Carga con CSV
                            </span>
                        </div>
                        <span class="material-icons-outlined infoCSV" (click)="infoCSV()">
                            info
                        </span>
                    </div>

                    <div class="cont-upload" (change)="captureFile($event)">
                        <input #inputFile class="input100" type="file" name="" id="">
                        <button mat-raised-button color="primary" (click)="uploadFile()">
                            <mat-icon class="material-icons-outlined">
                                file_upload
                            </mat-icon>
                            Subir archivo
                        </button>
                        <div class="pill-danger animated fadeIn" *ngIf="uploaded && inputState == 'isEmpty'">
                            Por favor, seleccione un archivo.
                        </div>
                        <div class="pill-danger animated fadeIn" *ngIf="uploaded && inputState == 'incorrectFile'">
                            Formato de archivo incorrecto.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-xs-12">
                <div class="box-pharm" *ngFor="let medication of medications">
                    <mat-icon svgIcon="pill-icon"></mat-icon>
                    <span class="med-name">{{medication.medicationName}}</span>
                    <div class="options">
                        <button mat-icon-button matTooltip="Ver medicamento" matTooltipPosition="above" (click)="viewMedication(medication)">
                            <mat-icon class="material-icons-outlined">
                                visibility
                            </mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Modificar medicamento" matTooltipPosition="above" (click)="modifyMedication(medication)">
                            <mat-icon class="material-icons-outlined">
                                edit
                            </mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Eliminar medicamento" matTooltipPosition="above" (click)="deleteMedication(medication)">
                            <mat-icon class="material-icons-outlined">
                                delete
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<router-outlet></router-outlet>