<nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeInDown">
    <div class="container-fluid">
        <img class="pill-navbar" src="../../../assets/images/svg_logoColor.svg" routerLink="/" alt="" *ngIf="!isAuthenticated()">
        <img class="pill-navbar" src="../../../assets/images/svg_logoColor.svg" routerLink="/home" alt="" *ngIf="isAuthenticated()">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" [attr.data-bs-toggle]="screenWidth() <= 768 ? 'collapse':''" [attr.data-bs-target]="screenWidth() <= 768 ? '.navbar-collapse':''" *ngIf="!isAuthenticated()">
            <div class="navbar-nav">
                <button class="pharmacy-register-button" routerLink="/pharmacyRegister">
                    <mat-icon class="pharmacy-icon" svgIcon="pharmacy"></mat-icon>
                    Registrá tu farmacia
                </button>
                <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                <a class="nav-link" routerLink="/register">Registrarse</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup" [attr.data-bs-toggle]="screenWidth() <= 768 ? 'collapse':''" [attr.data-bs-target]="screenWidth() <= 768 ? '.navbar-collapse':''" *ngIf="isAuthenticated()">
            <div class="navbar-nav">
                <span class="role-data">
                    <mat-icon style="transform: scale(0.8)">person</mat-icon>
                    Rol: {{getRole()}}
                </span>
                <button class="pharmacy-register-button" routerLink="/pharmacyRegister" *ngIf="!isAuthenticated()" >
                    <mat-icon class="pharmacy-icon" svgIcon="pharmacy"></mat-icon>
                    Registrá tu farmacia
                </button>

                <div *ngIf="screenWidth() <= 768">
                    <a class="nav-link" routerLink="/profile">Mi cuenta</a>
                    <a class="nav-link" (click)="salir()">Cerrar sesión</a>
                </div>

                <button mat-button [matMenuTriggerFor]="belowMenu" class="nav-link-user" *ngIf="screenWidth() >= 1024">
                    {{readFullName()}}
                    <mat-icon class="material-icons-outlined">expand_more</mat-icon>
                </button>
                <mat-menu #belowMenu="matMenu" yPosition="below" class="box-reminder-menu">
                    <button mat-menu-item routerLink="/profile">
                        <span class="poppins-regular">
                            <mat-icon>person</mat-icon>
                            Mi cuenta
                        </span>
                    </button>
                    <button mat-menu-item (click)="salir()">
                        <span class="poppins-regular">
                            <mat-icon>logout</mat-icon>
                            Cerrar sesion
                        </span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</nav>