<nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeInDown">
    <div class="container-fluid">
        <img class="pill-navbar" src="../../../assets/images/svg_logoColor.svg" routerLink="/" alt="" *ngIf="!isAuthenticated()">
        <img class="pill-navbar" src="../../../assets/images/svg_logoColor.svg" routerLink="/home" alt="" *ngIf="isAuthenticated()">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" *ngIf="!isAuthenticated()">
            <div class="navbar-nav">
                <button class="pharmacy-register-button" routerLink="/pharmacyRegister">
                    <mat-icon class="pharmacy-icon" svgIcon="pharmacy"></mat-icon>
                    Registrá tu farmacia
                </button>
                <a class="nav-link" routerLink="/login">Iniciar sesion</a>
                <a class="nav-link" routerLink="/register">Registrarse</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup" *ngIf="isAuthenticated()">
            <div class="navbar-nav">

                <a class="nav-link-user m-r-8 m-t-6" routerLink="/home">

                    {{readName()}}

                </a>
                <a class="nav-link" routerLink="" (click)="salir()">Cerrar sesion</a>
            </div>
        </div>
    </div>
</nav>